Flask==0.11.1
gunicorn==19.9.0
Flask-Bcrypt==0.5.2
Flask-Login==0.2.7
Flask-Script==2.0.5
Flask-SQLAlchemy==1.0
Flask-WTF==0.9.3
Unidecode==0.04.14
nose==1.3.0
itsdangerous==0.24
Jinja2==2.8
SQLAlchemy==1.0.11
Werkzeug==0.11.3
WTForms==2.1
mysqlclient
psycopg2
